dist: bionic

language: cpp
compiler:
  - clang

addons:
  apt:
    sources:
      - sourceline: 'ppa:mhier/libboost-latest'
#     - sourceline: 'ubuntu-toolchain-r-test'
    packages:
      - boost1.67
      - libssl-dev
      - libmysqlclient-dev
      - libreadline6-dev
      - zlib1g-dev
      - libbz2-dev
      - g++-8

services:
  - mysql

env:
  - BRANCH=3.3.5
  - BRANCH=transmog_3.3.5
  - BRANCH=transmogvendor_3.3.5
  - BRANCH=reforging_3.3.5
  - BRANCH=multivendor_3.3.5
  - BRANCH=multitrainer_3.3.5
  - BRANCH=playeritemgossip_3.3.5
  - BRANCH=dressnpcs_3.3.5
  - BRANCH=objscale_3.3.5
  - BRANCH=gomove_3.3.5

before_install:
  - git clone --depth=100 --branch=${BRANCH} https://github.com/Rochet2/TrinityCore.git server
  - cd server
  - git status
  - git remote add Trinity https://github.com/TrinityCore/TrinityCore.git
  - git fetch --depth=100 Trinity 3.3.5
  - git merge -m "Merge TrinityCore 3.3.5 to ${BRANCH} [skip ci]" Trinity/3.3.5
  - git submodule update --init --recursive
  - git status
  - git config user.email "travis@build.bot" && git config user.name "Travis CI"
  - git tag -a -m "Travis build" init

install:
  - mysql -uroot -e 'create database test_mysql;'
  - mkdir bin
  - cd bin
  - cmake ../ -DWITH_WARNINGS=1 -DWITH_COREDEBUG=0 -DUSE_COREPCH=0 -DUSE_SCRIPTPCH=0 -DTOOLS=1 -DSCRIPTS=dynamic -DSERVERS=1 -DNOJEM=0 -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_FLAGS="-Werror" -DCMAKE_CXX_FLAGS="-Werror" -DCMAKE_C_FLAGS_DEBUG="-DNDEBUG" -DCMAKE_CXX_FLAGS_DEBUG="-DNDEBUG" -DCMAKE_INSTALL_PREFIX=check_install
  - cd ..
  - chmod +x contrib/check_updates.sh

script:
  - $CXX --version
  - mysql -uroot < sql/create/create_mysql.sql
  - mysql -utrinity -ptrinity auth < sql/base/auth_database.sql
  - ./contrib/check_updates.sh auth 3.3.5 auth localhost
  - mysql -utrinity -ptrinity characters < sql/base/characters_database.sql
  - ./contrib/check_updates.sh characters 3.3.5 characters localhost
  - mysql -utrinity -ptrinity world < sql/base/dev/world_database.sql
  - cat sql/updates/world/3.3.5/*.sql | mysql -utrinity -ptrinity world
  - mysql -uroot < sql/create/drop_mysql.sql
  - cd bin
  - make -j 4 -k && make install
  - cd check_install/bin
  - ./authserver --version
  - ./worldserver --version
